  .main-content {
    flex: 1; /* Ocupa el espacio restante entre el header y footer */
  }


  .imgs-img-W {
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    height: auto;
    transition: 0.5s;
    float: left;
    animation: fade-logo 1.5s;
  }

  .dl-title{
    transition: all 2s;
    margin-top: 8% !important;
    margin-bottom: 6% !important;
    width: 30% !important;
  }

  .dl-title:hover{
    transition: all 2s;
    transform: scale(1.1);
  }

  .dl-side-fade-left {
      border-radius: 5px;
      position: fixed;
      left: 0px;
  
      transition: 0.5s;
      float: left;
      animation: fade-logo 1.5s;
    }
  

    .dl-side-fade-right {
        border-radius: 5px;
        position: fixed;
        right: 0px;
  
        transition: 0.5s;
        float: left;
        animation: fade-logo 1.5s;
      }
    
      .dl-footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        text-align: center;
        height: 75px;
        margin: auto;
      }

      .dl-flyer{
        width: 75%;
      }

      .ArtTitle-W-DL{
        font-size: x-large;
      }
      .ArtCont-W-DL{
        font-size: medium;
      }

      .dl-cleo-hm{
        width: 50%;
        height: auto;
      }

  /* ON MOBILE SIDE FADES 1200px*/
  @media(max-width: 1200px) {

    .dl-title{
      transition: all 2s;
      margin-top: 12% !important;
      margin-bottom: 6% !important;
      width: 40% !important;
    }

    .dl-side-fade-left {
        border-radius: 5px;
        position: fixed;
        left: 0px;
        width: 20%;
        min-height: 100%;
        display: flex;
        flex-direction: column;

        height: auto;
        transition: 0.5s;
        float: left;
        animation: fade-logo 1.5s;
      }
      .dl-side-fade-right {
        border-radius: 5px;
        position: fixed;
        right: 0px;
        width: 20%;
        min-height: 100%;
        display: flex;
        flex-direction: column;

        height: auto;
        transition: 0.5s;
        float: left;
        animation: fade-logo 1.5s;
      }

      .dl-footer {
        position: relative;
        width: 100%;
        background-color: black;
        text-align: center;
        height: 75px;
        margin: auto;
      }
      .dl-txt-footer{
        margin-top: 30px;
        width: 100%;
        text-align: center;
      }
      /*
      .ArtTitle-W-DL{
        margin-top: 5%;
        font-size: large;
      }
      .ArtCont-W-DL{
        font-size: large;
        margin-bottom: 500px;
      }
      */
    
      .dl-flyer{
        margin-top: 5%;
        width: 100%;
        height: auto;
      }

      .dl-cleo-hm{
        width: 64%;
        height: auto;
      }
  }

  /* ON MOBILE 900px*/
  @media(max-width: 900px) {
    .dl-title{
      transition: all 2s;
      margin-top: 22% !important;
      margin-bottom: 6% !important;
      width: 40% !important;
    }
  }

/* ON MOBILE SIDE FADES 600px*/
@media(max-width: 600px) {
  .CheckOut {
    width: auto;
    height: auto;
    border-radius: 0%;
    background-color: #39473a;
    text-align: center;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .imgs-img-W {
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    height: auto;
    transition: 0.5s;
    float: left;
    animation: fade-logo 1.5s;
  }

  .dl-title{
    transition: all 1s;
    margin-top: 22% !important;
    margin-bottom: 40px !important;
    width: 50% !important;
  }

  .dl-side-fade-left {
      border-radius: 5px;
      position: fixed;
      left: 0px;
      width: 20%;
      
      min-height: 100%;
      display: flex;
      flex-direction: column;

      transition: 0.5s;
      float: left;
      animation: fade-logo 1.5s;
    }

    .dl-side-fade-right {
      border-radius: 5px;
      position: fixed;
      right: 0px;
      width: 20%;

      min-height: 100%;
      display: flex;
      flex-direction: column;

      height: auto;
      transition: 0.5s;
      float: left;
      animation: fade-logo 1.5s;
    }

  .dl-footer {
    position: relative;
    width: 100%;
    background-color: black;
    text-align: center;
    height: 75px;
    margin: auto;
  }
  .dl-txt-footer{
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }

  
  .ArtTitle-W-DL{
    margin-top: 10%;
    font-size: large;
  }
  
  .ArtCont-W-DL{
    font-size: medium;
  }
  

  .dl-flyer{
    margin-top: 16px;
    width: 100%;
    height: auto;
  }

  .dl-cleo-hm{
    width: 75%;
    height: auto;
  }


}



/*  PLAYER  */

.player-container{
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;    /* Centrar verticalmente */
}

.player {
  background: #22192a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 55%;
}

audio {
  width: 100%;               /* Ocupa todo el ancho disponible */  
  padding: 10px;            
}


.current-track {
  margin-bottom: 20px;
}

.controls button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background: #22192a;
}

.track-list {
  list-style: none;
  padding: 0;
}

.track-list li {
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  background: #493a56;
  border-radius: 5px;
  color: #FCF1BA;
  font-family: 'Merriweather Sans', sans-serif;
}

.track-list li:hover {
  background: #8a6c9a;
}



.dl-footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  height: 75px;
  margin: auto;
  color: white;
}

.DL-soundtrack-page-header-container {
  display: flexbox;
  position: relative;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2cap;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #1b1b20;
  justify-content: center;
  align-items: center;
}

.DL-soundtrack-page-header {
  display: flexbox;
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0%;
}

