body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("PTDSG-IMGS/JVTG-BG.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

h1, p, li, h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}


.arcade-bg {
    /*background-color: rgb(41, 41, 59);*/
    background-image: url("PTDSG-IMGS/JVTG-BG.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}


button {
    background: #FFE700;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    transition: 0.2s all;
  }
  
  button:hover {
    transition: 0.2s all;
    background: #fff;
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }



/*Nav Bar -----------------------------*/

.pgLogo {
    position: relative;
    display: flex;
    margin-left: 20px;
    margin-top: 2px;
    width: 100px;
    height: auto;
    transition: 0.5s;
    float: left;
    z-index: 999999;
    animation: fade-logo 1.5s;
    animation: moving-logo 1.0s;
  }
  
  .pgLogo:hover {
    transform: scale(1.1);
    transition: 0.5s;
    float: left;
    z-index: 200000;
    animation: bouncing-logo 5.0s;
  }
  

  
  
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(19, 19, 22, 1);
  }
  
  .NavBar {
    position: fixed;
    width: 100%;
    height: 50px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    top: 0;
    left: 0;
    background-color: rgba(19, 19, 22, 1);
    z-index: 100000;
  }
  
  .Nav-list{
    display: flex;
    justify-content: center;
    transition: 0.3s;
    animation: fade-nav 1.5s;
  }
  
  
  .NavBar ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .NavBar ul li {
    position: relative;
    list-style: none;
  }
  
  .NavBar ul li a {
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    color: #FCF1BA;
    letter-spacing: 2px;
    font-size: large;
    transition: 0.5s;
  }
  
  /*Hover over Nav-Buttons*/
  .NavBar li a:hover {
    transition: 0.2s;
    color: #B5534C;
  }
  
  .NavBar li a.active {
    transition: 1s;
    color:#37A949;
  }
  
  #Top-Options {
    width: 100px;
    height: 75px;
  }
  
  /*Cheeseburger*/
  .cheeseburger{
    display: none;
    cursor: pointer;
    z-index: 2000000;
    margin-right: 24px;
  }
  
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: #FCF1BA;
  }
  
  @media(max-width: 1024px){
    .NavBar {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.6s;
      background-color: rgba(19, 19, 22, 1);
      z-index: 100000;
    }
  
    .pgLogo {
      position: fixed;
      display: flex;
      margin-left: 20px;
      margin-top: 8px;
      width: 65px;
      height: 23px;
      transition: 0.5s;
      float: left;
      z-index: 999999;
      animation: fade-logo 1.5s;
      animation: moving-logo 1.0s;
    }
    
    .pgLogo:hover {
      transform: scale(1.1);
      transition: 0.5s;
      float: left;
      z-index: 200000;
      animation: bouncing-logo 5.0s;
    }
  
  
    .PTLogo2 {
      position: fixed;
      display: flex;
      margin-left: 8px;
      margin-top: 2px;
      width: 35px;
      height: 35px;
      transition: 0.5s;
      float: left;
      z-index: 999999;
      animation: fade-logo 1.5s;
      animation: moving-logo 1.0s;
    }
    
    .PTLogo2:hover {
      transform: scale(1.1);
      transition: 0.5s;
      float: left;
      z-index: 200000;
      animation: bouncing-logo 5.0s;
    }
  
    .cheeseburger{
      display: block;
    }
    .cheeseburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .cheeseburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .cheeseburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
    
    .Nav-list{
      position: fixed;
      flex-direction: column;
      background-color: rgba(2, 19, 22, 1);
      top: 520px;
      left: 100%;
      right: 0%;
      width: 100%;
      height: 2500%;
      transition: left 0.3s;
      
    }
    
  
    .Nav-list.active{
      position: fixed;
      flex-direction: column;
      top: 40px;
      left: 0%;
      padding-left: 0%;
      padding-right: 0%;
      width: 100%;
      height: 100%;
      right: 0%;
      margin-top: 0%;
      margin-bottom: 0%;
      transition: left 0.3s;
    }
    
  
    #Top-Options{
      margin-bottom: 5%;
      font-size: 30px;
      transition: 0.3s;
    }
  
    li{
      text-align: center;
      width: 60%;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 0%;
      margin-right: 0%;
      border: 4px solid;
      border-color:#FCF1BA;
    }
    .NavBar li a:hover {
      color: #B5534C;
    }
  }
  
  footer {
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #131316;
    justify-content: center;

  }
  
  /*Cheeseburger END*/
  
  /*End of Nav Bar ----------------------*/